<div class="container">
  <div class="row">
    <div class="col-12 my-5">
      <div class="heading">
        <span class="title">
          Let us <span class="text-red">help</span> you!
        </span>
        <span class="subtitle">
          Let’s help reverse climate change when you emit less and remove the
          rest.
        </span>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <app-big-carousel></app-big-carousel>
</div>

<div class="last-section pt-5 pb-2">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-12 col-xl-6 mb-5 mb-xl-0">
        <span class="title"> Set It and Forget It Business Subscriptions </span>
        <span class="subtitle">
          Whether you want to reach your climate goal over 12 months, every
          quarter, or once a year - you can customize a subscription to fit your
          business.
        </span>
      </div>
      <div class="col-12 col-xl-6 text-center text-xl-end">
        <button
          type="button"
          class="
            btn btn-light btn-custom-one
            mb-2 mb-md-0
            px-4
            me-5
            align-self-end
          "
        >
          Customize a Subscription
        </button>
        <button
          type="button"
          class="btn btn-danger btn-custom-two px-4 me-5 align-self-end"
        >
          Learn more
        </button>
        <img
          class="mx-auto mx-xl-0 ms-xl-5"
          src="../../../assets/images/wallet.svg"
          alt=""
          style="width: 9rem; height: 9rem"
        />
      </div>
    </div>
  </div>
</div>
