<div class="item pb-3">
  <div class="row">
    <div class="col-12 text-center">
      <img style="width: 12rem; height: 12rem" [src]="imagePath" alt="" />
    </div>
    <div class="col-12 text-center mb-3">
      <span class="title">{{ title }}</span>
    </div>
    <div class="col-12 text-center mb-3">
      <span class="subtitle">{{ subtitle }}</span>
    </div>
    <div class="col-12 text-center">
      <button class="btn btn-danger btn-custom px-5">{{ buttonText }}</button>
    </div>
  </div>
</div>
