.item {
  .title {
    font-family: Circular Std;
    font-style: normal;
    font-weight: 900;
    font-size: 1.125rem;
    color: #000000;
  }
  .subtitle {
    font-family: Circular Std;
    font-style: normal;
    font-weight: 450;
    font-size: 1.125rem;
    color: #3d3d3d;
  }
  .btn-custom {
    background: #ff5a60;
    border-radius: 8px;
  }
}
