.navbar-custom {
  background-color: #fff6fa;
  width: 100%;
}

.nav-links-custom {
  font-family: Circular Std;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  color: #000000;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.btn-custom {
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  font-family: Circular Std;
  background: #ff5a60;
  border-radius: 0.5rem 0.5rem 3rem 0.5rem;
}
