<div class="item">
  <div class="row">
    <div class="box pb-4">
      <div class="col-12 text-center">
        <img [src]="imagePath" alt="" style="width: 8rem; height: 6rem" />
      </div>
      <div class="col-12 text-center">
        <span class="title">{{ title }}</span>
      </div>
      <div class="col-12 text-center">
        <span class="subtitle">
          {{ subtitle }}
        </span>
      </div>
    </div>
  </div>
  <button class="btn btn-danger btn-custom">Remove Carbon</button>
</div>
