/* You can add global styles to this file, and also import other style files */

.splide__slide {
  .item {
    transition: ease-in-out 0.2ms;
    filter: blur(0.5rem);
  }
}
.splide__slide.is-active.is-visible {
  .item {
    filter: blur(0rem);
  }
}

.splide__arrow--prev {
  left: 10vw;
  background-image: url("/assets/images/big-arrow-left.svg") !important;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  height: 5rem;
  width: 5rem;
  svg {
    display: none;
  }
}
.splide__arrow--next {
  right: 10vw;
  background-image: url("/assets/images/big-arrow-left.svg") !important;
  transform: rotate(180deg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  height: 5rem;
  width: 5rem;
  @media screen and (max-width: 1440px) {
    top: 43%;
  }
  @media screen and (max-width: 1024px) {
    top: 46%;
  }
  @media screen and (max-width: 768px) {
    top: 46%;
  }
  @media screen and (min-width: 2560px) {
    top: 42%;
  }
  svg {
    display: none;
  }
}
