<div class="container py-5">
  <div class="row pb-5">
    <div class="col-12 col-lg-6">
      <span class="title">
        Change <span class="text-green">climate</span> with good DEEDz
      </span>
      <span class="subtitle mt-3 mb-5">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nibh eget
        tortor fusce dolor vitae tellus imperdiet.
      </span>
      <div class="row g-0">
        <div class="col">
          <span class="big-box p-4 pe-5 mb-3 mb-lg-0 me-lg-3">
            <span class="box-title"> Carbon in Treasury </span>
            <span class="box-value">
              11,623,761 <span class="value-subtext">Tonnes CO2</span>
            </span>
            <span class="box-comparison">
              <span class="compare-title">EQUIVALENT TO</span>
              <span class="compare-content"
                ><span class="text-green">58,118 </span> hectares of
                forest</span
              >
              <span class="compare-content"
                ><span class="text-green">2,526,904 </span> passenger vehicles
                (annual)</span
              >
              <span class="compare-content"
                ><span class="text-green">5,938,097,797 </span> liters of
                gasoline</span
              >
            </span>
            <a href="#" class="box-link"> source </a>
          </span>
        </div>
        <div class="col-4">
          <span class="small-box p-4 mb-3">
            <span class="box-title"> Current APY </span>
            <span class="box-value"> 40,778% </span>
          </span>
          <span class="small-box p-4">
            <span class="box-title"> Price (USDC) </span>
            <span class="box-value"> $1,214 </span>
          </span>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <img
        class="hand-image"
        src="../../../assets/images/hand.png"
        alt=""
        height="100%"
        width="100%"
      />
    </div>
  </div>
</div>
